*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}

.titulo {
    color: #0f0;
}

.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.presentacion--contenido{
   width: 615px; 
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.presentacion--contenido--titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
}

.presentacion--contenido--parrafo{
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.buttons--links{
    width: 280px;
    background-color: #0f0;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 6px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000000;

}